.support-button {
  position: fixed;
  z-index: 1000;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .support-button {
    bottom: 20px;
    right: 20px;
    font-size: 0; /* Oculta el texto en móviles */
  }
  
  .support-button .mantine-Button-leftIcon {
    margin-right: 0;
    transform: none;
  }
}

@media (min-width: 769px) {
  .support-button {
    right: -35px;
    top: 50%;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: left bottom;
    border-radius: 10px 10px 0 0;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .support-button:hover {
    right: -30px;
  }
  
  .support-button .mantine-Button-leftIcon {
    margin-right: 8px;
    transform: rotate(90deg);
  }
}