.drawer {
  /* Estilos para el drawer */
}

.drawerTitle {
  color: #228be6;
  font-size: 1.5rem;
  font-weight: 600;
}

.contentGrid {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.reportContainer {
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.feedbackContainer {
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.feedbackInput {
  margin-bottom: 10px;
}

.fileGrid {
  margin-top: 1rem;
}

.fileCard {
  transition: all 0.2s ease;
  cursor: pointer;
}

.fileCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fileCardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fileName {
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: 0.5rem;
}
